click==8.1.8
google-cloud-pubsub==2.27.1
google-cloud-storage==2.19.0
keyrings.google-artifactregistry-auth
pip-tools==7.4.1
pytest==8.3.4
requests==2.32.3
ruff==0.9.0
sentry-sdk==2.19.2
twine==6.0.1
