click==8.2.1
google-cloud-pubsub==2.30.0
google-cloud-storage==3.1.1
keyrings.google-artifactregistry-auth
pip-tools==7.5.0
pytest==8.4.1
requests==2.32.4
ruff==0.12.1
sentry-sdk==2.32.0
twine==6.1.0
